<!--Cria a página principal, utilizando a imagem localizada em Models como plano de fundo e colocando o texto no centro da tela-->
<body style="background-image: url(/Models/Index_image.jpg)">
    <div class="text-center">
        <font color="white">
            <h1>Sabores Brasileiros</h1>
        </font>
        <a href="/garcom" class="btn btn-default">Entrar no restaurante</a>
    </div>
</body>